<section class="about-page"></section>
<div class="main-container">
  <h1 class="page-title">{{name}} Ryan Jacobie Hair Salon</h1>
  <div class="about column-container">
    <div class="container-image">
      <div class="content-image" style="background-image: url('http://res.cloudinary.com/airship/image/upload/v1493608337/media/ryanjacobie-hawaii_ujhvge.jpg')"></div>
    </div>
    <div class="content">
      {{{fields.description}}}
    </div>
  </div>
  <h1 class="page-title">Meet Our Stylists</h1>
  <div class="column-container stylist-container">
  {{#each related_items.stylists}}
    <div class="stylist">
      <h3>{{fields.name}}</h3>
      <div class="meta">{{fields.position}}</div>
      <div class="desc">{{{fields.description}}}</div>
    </div>
  {{/each}}
  </div>
</div>