<section class="contact-page"></section>
<div class="main-container">
  <h1 class="page-title">Contact Us</h1>
  <div class="center-container">
    <div class="options column-container">
      <div class="option">
        <h4>Schedule Online</h4>
        <p>View our schdule online, and conveniently make an appointment.</p>
        <!-- <h3>View Calendar</h3> -->
        <h3>Coming Soon</h3>
      </div>
      <div class="option">
        <h4>Drop Us a Line</h4>
        <p>We would love to hear from you. Let us know when you are available.</p>
        <h3>808.543.5900</h3>
      </div>
    </div>

    <h2 class="page-title center-title">Visit Our Location</h2>
    <div class="location column-container">
      <div class="address">
        <h3>Address</h3>
        <address>918 Smith St Ste F Honolulu, HI 96817</address>
        <p>PH: 808.543.5900<br>email: info@ryanjacobie.com</p>
      </div>
      <div class="hours">
        <h3>Salon Hours</h3>
        <!-- <p>Monday: Closed <br> Tuesday - Wednesday: Based on Availability <br> Thursday - Friday: 12pm - 7pm <br> Saturday - Sunday: 10am - varies</p> -->
        <p>Monday - Sunday: <br> By Appointment Only</p>
      </div>
    </div>
  </div>
  <div class="map column-container">
    <div class="container-image">
      <div class="content-image" style="background-image: url('http://res.cloudinary.com/airship/image/upload/v1493613536/media/ryanjacobie-honolulu_pxvsn1.jpg')"></div>
    </div>
    <div class="map-image"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3716.996440469526!2d-157.86641668466044!3d21.311156983452506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c006e7396f69bd7%3A0xbbf12ec472c6dcc8!2s918+Smith+St+f%2C+Honolulu%2C+HI+96817!5e0!3m2!1sen!2sus!4v1493613223805" height="450" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    </div>
  </div>
</div>
