<!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>Ryan Jacobie Hair Salon</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Ryan Jacobie Hair Salon, Honolulu Hawaii 808.543.5900. Professional hair and style salon, with an array of services including Hair Design, Make up, Nail Styling, Japanese Straight Perm, Keratin Smoothing and Color highlight. Call for special events, weddings and upstyle.">
        <meta name="keywords" content="Hawaii, Hair Salon Honolulu, Ryan Jacobie Hair Salon, Hair Salon, Hair Design, Make up, Nail Styling, Japanese Straight Perm, Keratin Smoothing and Color highlight, Wedding Hair Styles, Special Event Hair, Ombre Color Hair Style, Balyage, Permanent Wave, Waxing, Eyebrows, Deep Conditioning, Paul Mitchelle">
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:300" rel="stylesheet">
        <link rel="stylesheet" href="/assets/styles/base.css?v=1.0.0">
      </head>
      <body>
        <header>
          <nav class="column-container">
            <ul>
              <li>
                <a href="/"><h1>Ryan Jacobie</h1></a>
              </li>
            </ul>
            <div class="mobile-button" onclick="">
              <div></div>
              <div></div>
              <div></div>
              <ul class="mobile-nav">
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <!-- <li><a href="/blogs">Blog</a></li> -->
                <li><a href="appointments">Schedule Appointment</a></li>
              </ul>
            </div>
            <ul>
              <li><a href="/services">Services</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <!-- <li><a href="/blogs">Blog</a></li> -->
              <li><a href="/appointments">Schedule Appointment</a></li>
            </ul>
          </nav>
        </header>
        {{{ template }}}
        <footer>
          <div class="column-container">
            <div>
              <h3>Ryan Jacobie</h3>
              <address>918 Smith St Ste F | Honolulu, HI 96817</address>
              <p>PH: 808.543.5900<br>email: info@ryanjacobie.com</p>
              <!-- <button>Make an Appointment</button> -->
            </div>
            <div>
              <h3>Salon Hours</h3>
              <!-- <p>Monday: Closed <br> Tuesday - Wednesday: Based on Availability <br> Thursday - Friday: 12pm - 7pm <br> Saturday - Sunday: 10am - varies</p> -->
              <p>Monday - Sunday: <br> By Appointment Only</p>
            </div>
            <div>
              <h3>Customer Reviews</h3>
              <p>“This salon has just the right feel of classiness and down-to-earth, local charm. A Groupon first brought me through the door and since then, this has become my regular salon. Ryan is very talented and lots of fun to talk with. The location is great, right next to a manicipal parking lot too.”</p>
            </div>
          </div>
          <div class="social-media">
            <a href="https://www.facebook.com/Ryanjacobie/"><img src="http://res.cloudinary.com/airship/image/upload/v1494188037/media/facebook_svg_zzervf.png" alt="Ryan Jacobie Facebook"></a>
            <a href="https://www.instagram.com/ryanjacobie_hnl/?hl=en"><img src="http://res.cloudinary.com/airship/image/upload/v1494188044/media/instagram_ryanjacobie_bhebcw.png" alt="Ryan Jacobie Instagram"></a>
            <a href="https://www.yelp.com/biz/ryanjacobie-honolulu"><img src="http://res.cloudinary.com/airship/image/upload/v1494188050/media/yelp-ryanjacobie_uddn8d.png" alt="Ryan Jacobie Yelp"></a>
          </div>
          <div class="copyright">Copyright 2017 | ryanjacobie.com </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/scripts/app.js"></script>
      </body>
    </html>